<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit order</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="wrapper">
<h1 th:text="'Editing order ' + ${orderId}"></h1>
<form th:action="'/work_with_layouts/create_layouts/edit'" method="post" class="enter_form">
    <label for="layoutName">Enter the layout name:</label>
    <input required type="text" id="layoutName" name="layoutName">
        <br>
    <label for="pricePerPiece">Enter price per piece:</label>
    <input required type="text" id="pricePerPiece" name="pricePerPiece">
        <br>
    <label for="countOfMade">Enter count of made:</label>
    <input required type="text" id="countOfMade" name="countOfMade">
    <input type="hidden" th:value="${customerId}" name="customerId">
    <input type="hidden" th:value="${orderId}" name="orderId">
    <input type="hidden" th:value="${fileName}" name="fileName">
        <br>
    <input type="submit" value="Add">
</form>
<form th:action="'/work_with_orders/update_order/'" method="post" class="enter_form">
    <label for="file_name">File name:</label>
    <input type="text" id="file_name" name="fileName" th:value="${fileName}" readonly>
    <input type="hidden" th:value="${customerId}" name="customerId">
    <input type="hidden" th:value="${orderId}" name="orderId">
    <input type="submit" value="Apply">
</form>
<br>
<table class="layouts_table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price per piece</th>
        <th>Count of made</th>
        <th>Total price for layout</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="l : ${layouts}">
        <td th:text="${l.name}"></td>
        <td th:text="${l.pricePerPiece}"></td>
        <td th:text="${l.countOfMade}"></td>
        <td th:text="${l.totalLayoutPrice}"></td>
        <td><a th:href="@{/work_with_layouts/edit/delete_layout/{name}(name=${l.name},fileName=${fileName},customerId=${customerId},orderId=${orderId})}" class="button_table">delete</a></td>
    </tr>
    </tbody>
</table>
    <h1 th:text="'Total price of order: ' + ${totalCost}"></h1>
        <br>
    <a href="/work_with_layouts/delete_layouts" class="nav_button">Clear list</a>
        <br>
    <a href="/main_menu/" class="nav_button">To main menu</a>
</div>
</body>
</html>