<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers with orders</title>
    <link rel="stylesheet" href="/style_index.css">
</head>
<body>
<h1>Customers and orders</h1>
<form action="/work_with_orders/load_order" method="post">
    <label for="orderId">Enter the id of the order you want to display:</label>
    <br>
    <input type="number" id="orderId" name="orderId">
    <input type="submit" value="Enter">
</form>
<table class="customers_table">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Company</th>
        <th>Orders</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c : ${customers}">
        <td th:text="${c.id}"></td>
        <td th:text="${c.customerName}"></td>
        <td th:text="${c.customerCompany}"></td>
        <td th:text="${c.orders}"></td>
    </tr>
    </tbody>
</table>
<a href="/main_menu">To main menu</a>
</body>
</html>