<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All customers</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <h1>Customers</h1>
<table class="customers_table">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Company</th>
        <th>Delete customer</th>
        <th>Edit customer</th>
        <th>Add order</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c : ${customers}">
        <td th:text="${c.id}"></td>
        <td th:text="${c.customerName}"></td>
        <td th:text="${c.customerCompany}"></td>
        <td><a th:href="@{/work_with_customer/delete_customer/{id}(id=${c.id})}" class="button_table">Delete</a></td>
        <td><a th:href="@{/work_with_customer/edit_customer/{id}(id=${c.id})}" class="button_table">Edit</a></td>
        <td><a th:href="@{/work_with_orders/show_orders/{id}(id=${c.id})}" class="button_table">Show orders</a></td>
    </tr>
    </tbody>
</table>
    <a href="/main_menu" class="nav_button">To main menu</a>
</div>
</body>
</html>