<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <h1 th:text="'Order ' + ${orderId} + ', customer ' + ${customerName}"></h1>
    <table class="customers_table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price per piece</th>
            <th>Count of made</th>
            <th>Total price for layout</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="l : ${layouts}">
            <td th:text="${l.name}"></td>
            <td th:text="${l.pricePerPiece}"></td>
            <td th:text="${l.countOfMade}"></td>
            <td th:text="${l.totalLayoutPrice}"></td>
        </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4" th:text="'Total price for order ' + ${totalCost}"></th>
            </tr>
        </tfoot>
    </table>
    <a href="/work_with_customer/show_all_customers_with_orders" class="nav_button">Back to customers</a>
    <br>
    <a href="/main_menu" class="nav_button">To main menu</a>
</div>
</body>
</html>