<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders of customer</title>
    <link rel="stylesheet" href="/style_index.css">
</head>
<body>
<div class="table">
    <h1>Create new order</h1>
    <table class="orders_of_customer">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Company</th>
            <th>Orders</th>
            <th>Add order</th>
            <th>Edit order (Enter id of order)</th>
            <th>Delete order (Enter id of order)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${customer}">
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.customerName}"></td>
            <td th:text="${customer.customerCompany}"></td>
            <td th:text="${customer.orders}"></td>
            <td><a th:href="@{/work_with_layouts/creating_form/{id}(id=${customer.id})}">Create order</a></td>
            <td>
                <form th:action="'/work_with_orders/edit_order'" method="post">
                    <label for="orderIdEdit"></label>
                    <input type="number" id="orderIdEdit" name="orderId">
                    <input type="hidden" th:value="${customerId}" name="customerId">
                    <input type="submit" value="Enter">
                </form>
            </td>
            <td>
                <form th:action="'/work_with_orders/delete_order'" method="post">
                    <label for="orderId"></label>
                    <input type="number" id="orderId" name="orderId">
                    <input type="hidden" th:value="${customerId}" name="customerId">
                    <input type="submit" value="Enter">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/work_with_customer/show_all_customers">Back to customers</a>
    <br>
    <a href="/main_menu/">To main menu</a>
</div>
</body>
</html>