<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About it</title>
</head>
<body>
    <h1>Web app "Workbase"</h1>
    <p>A program designed to simplify the work in terms of processing orders made by certain customers.</p>
    <p>The program has such functionality: </p>
    <ul>
        <li>
            Creating, editing, removing information about customers
        </li>
        <li>
            Creating, editing, removing information about orders selected customer
        </li>
        <li>
            Saving order reports in file txt
        </li>
    </ul>
</body>
</html>