<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" href="/style_index.css">
</head>
<body>
<div class="wrapper">
    <div class="container_menu">
        <h1>Main menu:</h1>
            <br>
                <a href="main_menu/add_customer_form">Add new customer</a>
            <br>
                <a href="work_with_customer/show_all_customers">Add new order</a>
            <br>
                <a href="work_with_customer/show_all_customers">Show all customers</a>
            <br>
                <a href="main_menu/about_web_app">About this web app</a>
    </div>
</div>
</body>
</html>