<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <div class="container_menu">
        <h1>Main menu:</h1>
            <br>
                <a href="main_menu/add_customer_form" class="button">Add new customer</a>
            <br>
                <a href="work_with_customer/show_all_customers" class="button">Add new order</a>
            <br>
                <a href="work_with_customer/show_all_customers" class="button">Show all customers</a>
            <br>
                <a href="work_with_customer/show_all_customers_with_orders" class="button">Look at order</a>
            <br>
                <a href="main_menu/about_web_app" class="button">About this web app</a>
    </div>
</div>
</body>
</html>